
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.app {
  min-height: 100vh;
  display: flex;
}

.top-channel {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.3rem;
}
.top-channel span {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
}
.top-bottom {
  padding: 2.5rem;
  position: relative;
  top: -2.3rem;
}
.top-bottom button {
  width: 230px;
  height: 50px;
  margin: 10px 0;
  background: rgb(13, 175, 13);
  border: 1px solid white;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  letter-spacing: 1px;
}
.what-is button {
  width: 230px;
  height: 43px;
  margin: 10px 0;
  background:white;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  display: block;
}

.sidebar {
  flex: 1;
  box-shadow: 0px 0px 2px rgb(0, 0, 0.2);
 
}
.upperside {
  height: 60%;
}

.main {
  flex: 9;
  min-height: calc(100vh -14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
}
.lower {
  padding: 2rem;
  border-top: 1px solid grey;
  font-size: 17px;
  letter-spacing: 1px;
}
.lower div {
  margin: 15px 0;
   cursor: pointer;
}
.chat-footer {
  margin-top: auto;
  background-color:rgb(216, 208, 208);
  width: 80%;
  height: 48px;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
 
}
.chat {
  margin: 20px 0;
  padding: 1.5rem;
}
.input input {
  height: 48px;
  width: 90%;
  outline: none;
  border: none;
  background: transparent;
  padding: 10px;
}
.chats {
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
    width: 100%;
    max-width:70rem;
}